{% load static %}
<nav class="navbar navbar-dark bg-black shadow-sm py-2">
    <div class="container-fluid px-4">
        <a href="/" class="navbar-brand mb-0 text-white text-decoration-none d-flex align-items-center gap-2">
            <img src="{% static 'img/logo.png' %}" alt="El Bokuto Logo" height="50" class="object-fit-contain logo-icon">
            <div class="d-flex flex-column lh-1 ms-1">
                <span class="fw-bold fs-4 text-white logo-title mb-1">EL BOKUTO</span>
                <span class="fw-light text-white-50 logo-subtitle" style="font-size: 0.8rem;">sistema de inventario</span>
            </div>
        </a>
    </div>
</nav>